@import '../../styles/settings.scss';
.columnForm {
  .child {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
span {
  margin: 10px 10px;
}

@media (max-width: 767px) {
  .columnForm {
    width: 100%;
    margin: 0 0 $base-size 0;
  }
}
